<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				 @DateTime.Now.Year &copy; myNGCP
			</div>
			<div class="col-sm-6">
				<div class="text-sm-end d-none d-sm-block">
					National Grid Corporation of the Philippines
				</div>
			</div>
		</div>
	</div>
</footer>