@{
    Layout = "_DevExtremeLayout";
    ViewData["Title"] = "";
    string nonceValue = Context.Items["CspNonce"].ToString();
}

<style>

    .valid {
        color: green;
    }
        .valid:before {

            position: relative;
            left: -8px;
            content: "✔";
        }

    .invalid {
        color: red;
    }
        .invalid:before {
            position: relative;
            left: -8px;
            content: "✖";
        }

</style>


<div class="row my-3">
    <div class="col">

        <div class="h-100 pt-4">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body pt-2">

                            <div class="row mb-2 pt-4 mb-4">
                                <div class="col">
                                    <h4 class="float-start my-2 mb-2">User Master</h4>
                                </div>

                                <div class="col-2 d-flex justify-content-end">

                                    @{
                                        if (ViewData["sfInfo"].ToString().Substring(1, 1) != "0")
                                        {
                                            <button type="button" id="btn-New" class="btn btn-info align-self-start align-items-center">
                                                <i class="ri-add-fill"></i> New
                                            </button>
                                        }
                                    }
                                                          
                                    
                                </div>

                            </div>

                            <div class="mb-4">
                                <div class="row horizantalScrollContainer">
                                    <div class="col-12">
                                        <table id="dtList" class="table table-striped align-middle w-100">
                                            <thead>
                                                <tr class="bg-dark-subtle">
                                                    <th class="text-left">User Number</th>
                                                    <th class="text-left">Full Name</th>
                                                    <th class="text-left">Login Name</th>
                                                    <th class="text-left" width="10%">Record Status</th>
                                                    <th class="text-center" width="20%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Maintenace -->
<div class="modal  fade" id="maintenaceModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">

        <form id="frmMaintenance" autocomplete="off">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group mb-3">
                        <div class="col-12">
                           <label for="employeeName" class="form-label">Full Name
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="employeeName" id="employeeName" autocomplete="off" maxlength="255" required>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-12">
                            <label for="loginName" class="form-label">
                                Login Name
                            </label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="loginName" id="loginName" autocomplete="off" maxlength="50" required>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="row">

                            <div class="form-group col-6 mb-3">
                                <div class="col">
                                    <label for="passWord" class="form-label">Passsword</label>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" name="passWord" id="passWord" autocomplete="off" maxlength="255" required>
                                </div>
                            </div>

                            <div class="form-group col-6 mb-3">
                                <div class="col">
                                    <label for="repassWord" class="form-label">Verify passsword</label>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" name="repassWord" id="repassWord" autocomplete="off" maxlength="255" required>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col">
                            <div class="form-check mb-2">
                                <label class="form-check-label" for="recordStatus">Record Status</label>
                                <input class="form-check-input" type="checkbox" name="recordStatus" id="recordStatus" value="1">
                            </div>
                        </div>
                    </div>

                    <div id="" class="p-3 bg-light mb-2 rounded">
                        <h5 class="fs-13">Password must contain:</h5>
                        <p id="passlength"  class="invalid pass-validate fs-12 mb-2"> Minimum <b>14 characters</b></p>
                        <p id="passlower"   class="invalid pass-validate fs-12 mb-2"> At <b>lowercase</b> letter (a-z)</p>
                        <p id="passupper"   class="invalid pass-validate fs-12 mb-2"> At least <b>uppercase</b> letter (A-Z)</p>
                        <p id="passnumber"  class="invalid pass-validate fs-12 mb-2"> At least <b>number</b> (0-9)</p>
                        <p id="passspecial" class="invalid pass-validate fs-12 mb-2"> At least <b>special character</b></p>
                        <p id="passmatch"   class="invalid pass-validate fs-12 mb-2"> A <b>verified (Matched)</b></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"> <i class="ri-close-line me-1"></i> Close</button>
                    <button type="button" class="btn btn-success" id="btn-submit" disabled> <i class="ri-save-line me-1"></i>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script nonce="@nonceValue">

    let sfInfo = '@ViewData["sfInfo"].ToString()';
    let dtTable;
    let frmMaintenance = $("#maintenaceModal");
    let baseData = { action: '', id: '', userNumber : '' }
    let pass = {

        plength:    $('#passlength'),
        plower:     $('#passlower'),
        pupper:     $('#passupper'),
        pnumber:    $('#passnumber'),
        pspecial:   $('#passspecial'),
        pmatch:     $('#passmatch')
    }


    $(() => {

        dtTable = $('#dtList').DataTable({
            columns: [
                { data: "userNumber" },
                { data: "employeeName" },
                { data: "loginName" },
                { data: null },
                { data: null }
            ],
            paging: true,
            ordering: false,
            info: true,
            scrollX: false,
            scrollY: '40vh',
            columnDefs: [

                {
                    targets: [3],
                    width: '15%',
                    className: 'text-center',
                    render: function (data, test, row, meta) {

                        let prop = {
                            badge: data.recordStatus ? 'bg-info' : 'bg-danger',
                            text: data.recordStatus ? 'Active' : 'Disabled'
                        }
                        return `<span class="fs-10 badge text-white ${prop.badge} rounded-pill">${prop.text}</span>`;
                    }

                },
                {
                    targets: [4],
                    width: '15%',
                    className: 'text-center',
                    render: function (data, test, row, meta) {


                        let html = `<div>
                                                    ${sfInfo.substring(2, 3) == '1' ? `<button class="btn btn-sm btn-warning btn-icon waves-effect waves-light btn-update" title="Edit">
                                                                                            <i class="ri-edit-2-fill"></i>
                                                                                        </button>` : ``}

                                                    ${sfInfo.substring(2, 3) == '1' ? `<button class="btn btn-sm btn-danger btn-icon waves-effect waves-light btn-delete" title="Delete">
                                                                                            <i class="ri-delete-bin-2-fill"></i>
                                                                                        </button>` : ``}

                                                </div>`;

                        return html;

                    }
                }
            ]
        })

        load_data();

        $('#passWord').on('keyup', function () {

            var text = $(this).val()

            var lowerCaseLetters = /[a-z]/g;
   
            if (lowerCaseLetters.test(text)) {
                pass.plower.removeClass("invalid");
                pass.plower.addClass("valid");
            } else {
                pass.plower.removeClass("valid");
                pass.plower.addClass("invalid");
            }

            //Validate capital letters
            var upperCaseLetters = /[A-Z]/g;

            if (upperCaseLetters.test(text)) {
                pass.pupper.removeClass("invalid");
                pass.pupper.addClass("valid");
            } else {
                pass.pupper.removeClass("valid");
                pass.pupper.addClass("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (numbers.test(text)) {
                pass.pnumber.removeClass("invalid");
                pass.pnumber.addClass("valid");
            } else {
                pass.pnumber.removeClass("valid");
                pass.pnumber.addClass("invalid");
            }

            // Validate length
            if (text.length >= 14) {
                pass.plength.removeClass("invalid");
                pass.plength.addClass("valid");
            } else {
                pass.plength.removeClass("valid");
                pass.plength.addClass("invalid");
            }

            // Validate special character
            var sp = /[\W]/g;
            if (sp.test(text)) {
                pass.pspecial.removeClass("invalid");
                pass.pspecial.addClass("valid");
            } else {
                pass.pspecial.removeClass("valid");
                pass.pspecial.addClass("invalid");
            }

        })

        $('#repassWord').on('keyup', function () {

            var text = $("#passWord").val()
            var policy = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W]).{14,}$/;
            if (policy.test(text)) {

                if ($(this).val() === text) {
                    pass.pmatch.removeClass("invalid");
                    pass.pmatch.addClass("valid");
                    frmMaintenance.find('#btn-submit').attr('disabled', false);
                } else {
                    pass.pmatch.removeClass("valid");
                    pass.pmatch.addClass("intvalid");
                    frmMaintenance.find('#btn-submit').attr('disabled', true);
                }
            }
           
        })

        $('#btn-New').on('click', function () {
            baseData.action = 'C';
            baseData.id = '0';
            frmMaintenance.find('#employeeName').val('');
            frmMaintenance.find('#loginName').val('');
            frmMaintenance.find('#passWord').val('');
            frmMaintenance.find('#repassWord').val('');
            frmMaintenance.find('#recordStatus').prop('checked', true);
            frmMaintenance.find('.pass-validate').removeClass("valid");
            frmMaintenance.find('.pass-validate').addClass("invalid");
            $('#frmMaintenance')[0].reset();

            frmMaintenance.find("#btn-submit").html(' <i class="ri-save-line me-1"></i>Save');
            frmMaintenance.modal('show');
        })

        $('#dtList tbody').on('click', '.btn-update', function () {

            let data = dtTable.row($(this).closest('tr')).data()

            baseData.action = 'U';
            baseData.id = data.id;
            baseData.userNumber = data.userNumber;
            frmMaintenance.find('#employeeName').val(data.employeeName);
            frmMaintenance.find('#loginName').val(data.loginName);
            frmMaintenance.find('#passWord').val('');
            frmMaintenance.find('#repassWord').val('');
            frmMaintenance.find('#recordStatus').prop('checked', data.recordStatus);
            frmMaintenance.find('.pass-validate').removeClass("valid");
            frmMaintenance.find('.pass-validate').addClass("invalid");
            frmMaintenance.find("#btn-submit").html(' <i class="ri-save-line me-1"></i>Update');

            frmMaintenance.modal('show');
        })

        $('#dtList tbody').on('click', '.btn-delete', function () {

            let dr = dtTable.row($(this).closest('tr')).data()
            baseData.action = 'D';
            let data = {
                _action: baseData.action,
                id: dr.id,
                userNumber : dr.userNumber,
                employeeName: dr.employeeName,
                loginName: dr.loginName,
                recordStatus: dr.recordStatus
            }

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    post_data(data);
                }
            });





        })

        $('#btn-submit').on('click', function () {

            let text = (baseData.action == 'C' ? 'Do you want to save new entry.' : 'Do you want to save changes.');
            let label = (baseData.action == 'C' ? 'Yes, save new entry.' : 'Yes, save changes.');

            if ($('#frmMaintenance')[0].reportValidity()) {

                Swal.fire({
                    title: "Are you sure?",
                    text: text,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: label,
                }).then(function (result) {
                    if (result.isConfirmed) {

                        data = {
                            _action: baseData.action,
                            id: baseData.id,
                            userNumber: baseData.userNumber,
                            employeeName: $('#employeeName').val(),
                            loginName:$('#loginName').val(),
                            passWord: $('#passWord').val(),
                            recordStatus: $('#recordStatus').is(':checked')
                        }

                        post_data(data);

                    }
                });
            }
        });

    });

    function load_data() {

        getData("Security", "GET_UserMaster", { _action: 'GH' }).done(function (data) {

            dtTable.rows().clear();
            dtTable.rows.add(data).draw();

        })

    }

    function post_data(data) {

        postData("Security", "POST_UserMaster", data).done(function (returnData) {

            let msg = returnData[0];

            if (!msg.includes("Success")) {

                Swal.fire({
                    icon: "error",
                    title: "ERROR!",
                    text: msg.replace("Msg: ", "")
                });
            }
            else {

                let componet = 'user';
                let text;

                if (baseData.action == 'C') {
                    text = `New ${componet} has been added`;
                }
                if (baseData.action == 'U') {
                    text = `Selected ${componet} has been updated`;
                }
                if (baseData.action == 'D') {
                    text = `Selected ${componet} has been deleted`;
                }

                frmMaintenance.modal('hide');

                Swal.fire({
                    title: "Success!",
                    text: text,
                    icon: "success",
                    // confirmButtonClass: "btn btn-primary w-xs mt-2",
                }).then(function (result) {
                    if (result.isConfirmed) {

                        load_data();
                    }
                });

            }

        })
    }


</script>