@{
    Layout = "_DevExtremeLayout_2";
    ViewData["Title"] = "";
}

<div class="auth-page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-sm-5 mb-4 text-white-50">
                    <div>
                        <a href="index.html" class="d-inline-block auth-logo">
                            <img src="assets/images/logo-light.png" alt="" height="20">
                        </a>
                    </div>
                    <p class="mt-3 fs-15 fw-medium">Legal Information System</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card mt-4 card-bg-fill">

                    <div class="card-body p-4">
                                
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Welcome Back !</h5>
                            <p class="text-muted">Sign in to continue to LIS.</p>
                        </div>
                        <div class="p-2 mt-4">
                            <form  method="post">

                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username" autocomplete="off" maxlength="50" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password-input">Password</label>
                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                        <input type="password" class="form-control pe-5 password-input" id="userPass" name="userPass" placeholder="Enter password" id="password-input">
                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" name="userPass" id="userPass">
                                            <i class="ri-eye-fill align-middle"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-success w-100" type="submit">Sign In</button>
                                </div>

                            </form>
                        </div>
                    </div>

                   
                    <!-- end card body -->
                </div>
                <!-- end card -->


            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>