@{
    Layout = "_DevExtremeLayout";
    ViewData["Title"] = "";
}
@* 
<div class="row pt-5">
    <div class="col-lg-12">
        <div class="card mt-n4 mx-n4">
            <div class="bg-warning-subtle">
                <div class="card-body pb-0 px-4">
                    <div class="row mb-3">
                        <div class="col-md">
                            <div class="row align-items-center g-3">
                                <div class="col-md">
                                    <div>
                                        <h4 class="fw-bold">Legal Information System - Admin &amp; Dashboard</h4>
                                        <div class="hstack gap-3 flex-wrap">
                                            <div>Date : <span class="fw-medium">15 Sep, 2021</span></div>
                                            <div class="vr"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                    <ul class="nav nav-tabs-custom border-bottom-0" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link fw-semibold active" data-bs-toggle="tab" href="#project-overview" role="tab" aria-selected="true">
                                Overview
                            </a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
<div class="row pt-5 ">
    <div class="col-lg-12">
        <div class="tab-content text-muted">
            <div class="tab-pane fade active show" id="project-overview" role="tabpanel">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <section class="section p-0" >
                                    
                                    <div class="text-muted">

                                        <div class="row justify-content-center pt-5">
                                            <div class="col-lg-8">
                                                <div class="text-center mb-5">
                                                    <h1 class="mb-3 fw-semibold lh-base">The Legal Information System</h1>
                                                    <p class="text-muted">
                                                        The Legal Information System is a comprehensive platform that provides a range of functionalities designed to help users access and manage legal documents, issuances, and cases. The following functionalities are available on the Legal Information System.
                                                    </p>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->

                                        <div class="row">

                                            <div class="col-xl-4 col-lg-6">
                                                <div class="card card-animate ribbon-box right overflow-hidden">
                                                    <div class="card-body text-center p-4">

                                                        <div class="flex-shrink-0 me-1">
                                                            <i class="ri-folder-5-fill fs-1 align-middle text-primary me-1"></i>
                                                        </div>
                                                        <h5 class="mb-1 mt-4 mb-4">
                                                            <a href="" class="link-primary">
                                                                Repository of Legal Documents
                                                            </a>
                                                        </h5>

                                                        <div class="row justify-content-center">
                                                            <div class="col-lg-12">
                                                                <p class="text-muted mb-4">
                                                                    The Legal Information System serves as a repository of legal documents, providing users with access to a vast collection of legal resources.
                                                                </p>
                                                                <p class="text-muted mb-4">
                                                                    Users can search for and access legal documents such as contracts,
                                                                    court filings, and regulatory filings. The system's advanced search features enable users to quickly find the documents they need.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-4 col-lg-6">
                                                <div class="card card-animate ribbon-box right overflow-hidden">
                                                    <div class="card-body text-center p-4">
                                                        <div class="flex-shrink-0 me-1">
                                                            <i class="ri-list-check fs-1 align-middle text-primary me-1"></i>
                                                        </div>

                                                        <h5 class="mb-1 mt-4 mb-4">
                                                            <a href="" class="link-primary">
                                                                Management of Issuances and Cases
                                                            </a>
                                                        </h5>

                                                        <div class="row justify-content-center">
                                                            <div class="col-lg-12">
                                                                <p class="text-muted mb-4">
                                                                    The Legal Information System enables users to manage issuances and cases with ease. Users can upload, categorize, and organize issuances and cases in various formats, such as PDF, Word, or Excel.
                                                                </p>
                                                                <p class="text-muted mb-4">
                                                                    The system also allows for document version control, ensuring that users always have access to the most recent version of an issuance or case.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="card card-animate ribbon-box right overflow-hidden">
                                                    <div class="card-body text-center p-4">

                                                        <div class="flex-shrink-0 me-1">
                                                            <i class="ri-file-list-3-fill fs-1 align-middle text-primary me-1"></i>
                                                        </div>
                                                        <h5 class="mb-1 mt-4 mb-4">
                                                            <a href="" class="link-primary">
                                                                Posting of Procedure Manuals
                                                            </a>
                                                        </h5>

                                                        <div class="row justify-content-center">
                                                            <div class="col-lg-12">
                                                                <p class="text-muted mb-4">
                                                                    The Legal Information System provides users with access to procedure manuals, enabling them to understand the legal framework and procedures governing their work.
                                                                </p>
                                                                <p class="text-muted mb-4">
                                                                    Users can access these manuals through the system and use them to guide their work.The manuals can be updated regularly, ensuring that users always have access to the most up-to-date information.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>

                                <section class="section bg-light">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <div class="text-center mb-5">
                                                    <h1 class="mb-3 fw-semibold lh-base">Office of the General Counsel</h1>
                                                    <p class="text-muted">The Legal Information System is a comprehensive platform that provides a range of functionalities designed to help users access and manage legal documents, issuances, and cases. The following functionalities are available on the Legal Information System.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row g-5">
                                            <div class="col-lg-6">
                                                <div class="card text-center border shadow-none material-shadow">
                                                    <div class="card-body py-5 px-4">
                                                        <div class="card-body p-4 text-center">
                                                            <img src="~/images/team/team-1.jpg" alt="Legal counseling" class="img-fluid rounded-circle avatar-xl">
                                                        </div>
                                                        <h3>Legal counseling Division</h3><br />
                                                        <p class="text-muted pb-1">
                                                            The Office of the General Counsel provides legal counselling services for tax-related concerns and ensures compliance with laws, rules and regulations for company contracts and policies.
                                                        </p>
                                                        <p class="text-muted pb-1">
                                                            They also provide legal opinions and advice to ensure compliance with the company's charter and applicable laws. Tasks include handling real property and business tax cases, coordinating with local government units, evaluating tax assessments, and preparing pleadings. The office also reviews contracts and agreements and provides legal opinions and advice on all legal and tax matters.
                                                        </p><br />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card text-center border shadow-none material-shadow">
                                                    <div class="card-body py-5 px-4">
                                                        <div class="card-body p-4 text-center">
                                                            <img src="~/images/team/team-2.jpg" alt="Litigation and Regulatory" class="img-fluid rounded-circle avatar-xl">
                                                        </div>
                                                        <h3>Litigation and Regulatory Division</h3><br />
                                                        <p class="text-muted pb-1">
                                                            The Office of the General Counsel is responsible for handling litigation and regulatory matters, including court appearances, drafting legal opinions, and representing the company. Tasks include handling regulatory and litigation cases, preparing pleadings, appearing before the ERC and courts, providing legal opinions on regulatory matters, and reviewing contracts.
                                                        </p>
                                                        <p class="text-muted pb-1">
                                                            The office also represents the company in external meetings to ensure protection of NGCP's rights and interests.
                                                        </p><br /><br />
                                                    </div>
                                                </div>
                                            </div>
                                         </div >
                                    </div>
                                </section>
                             
                            </div>
                  
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>