@{
    ViewData["User Home"] = "UserHome";
    Layout = "~/Views/Shared/_DevExtremeLayout_3.cshtml";
}

<main>

    <!-- start hero section -->
    <section class="section nft-hero" id="hero">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                    <div class="text-center">
                        @* <h1 class="display-6 fw-medium mb-3 lh-base text-gray">Welcome to</h1> *@
                        <h1 class="display-6 fw-medium mb-3 lh-base text-gray">Welcome to</h1>
                        <h1 class="display-3 fw-medium mb-3 lh-base"><span class="text-success">Legal Information System</span></h1>
                        @* <p class="lead text-white-50 lh-base mb-4 pb-2">Can artwork be NFT? NFTs (non-fungible tokens) are one-of-a-kind digital assets. Given they're digital in nature, can physical works of art be turned into NFTs?.</p> *@

                        <div class="hstack gap-1 justify-content-center">
                            <a class="btn btn-outline-success rounded-pill ">Get Started</a>
                            @* <a href="apps-nft-explore.html" class="btn btn-danger">Explore Now <i class="ri-arrow-right-line align-middle ms-1"></i></a> *@
                        </div>
                    </div>
                </div><!--end col-->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end hero section -->
    <!-- start wallet -->
    <section class="section" id="wallet">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 fw-semibold lh-base">Office of the General Counsel</h1>
                        <p class="text-muted">The Legal Information System is a comprehensive platform that provides a range of functionalities designed to help users access and manage legal documents, issuances, and cases. The following functionalities are available on the Legal Information System:a</p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="card text-center border shadow-none material-shadow">
                        <div class="card-body py-5 px-4">
                            @* <img src="assets/images/nft/wallet/metamask.png" alt="" height="55" class="mb-3 pb-2"> *@
                            <div class="icon">
                                <h1 class="bx bx-folder"></h1>

                            </div>
                            <h3>Repository of Legal Documents</h3>
                            <p class="text-muted pb-1">The Legal Information System serves as a repository of legal documents, providing users with access to a vast collection of legal resources.</p>
                            <p class="text-muted pb-1">Users can search for and access legal documents such as contracts, court filings, and regulatory filings. The system's advanced search features enable users to quickly find the documents they need.</p><br />
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-lg-4">
                    <div class="card text-center border shadow-none material-shadow">
                        <div class="card-body py-5 px-4">
                            @* <img src="assets/images/nft/wallet/coinbase.png" alt="" height="55" class="mb-3 pb-2"> *@
                            <div class="icon">
                                <h1 class="bx bx-list-ul"></h1>
                            </div>
                            <h3>Management of Issuances and Cases</h3>
                            <p class="text-muted pb-1">The Legal Information System enables users to manage issuances and cases with ease. Users can upload, categorize, and organize issuances and cases in various formats, such as PDF, Word, or Excel.</p>
                            <p class="text-muted pb-1">The system also allows for document version control, ensuring that users always have access to the most recent version of an issuance or case.</p><br />
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-4">
                    <div class="card text-center border shadow-none material-shadow">
                        <div class="card-body py-5 px-4">
                            @* <img src="assets/images/nft/wallet/binance.png" alt="" height="55" class="mb-3 pb-2"> *@
                            <div class="icon">
                                <h1 class="bx bx-receipt"></h1>
                            </div>
                            <h3>Posting of Procedure Manuals</h3>
                            <p class="text-muted pb-1">The Legal Information System provides users with access to procedure manuals, enabling them to understand the legal framework and procedures governing their work.</p>
                            <p class="text-muted pb-1">Users can access these manuals through the system and use them to guide their work.The manuals can be updated regularly, ensuring that users always have access to the most up-to-date information.</p>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end wallet -->

    <section class="section bg-light py-5" id="features">
        <div class="container">
            <div class="row align-items-center gy-4">

                <div class="col-lg-6">
                    <div class="text-muted">
                        <div class="avatar-sm icon-effect mb-4">
                            <div class="avatar-title bg-transparent rounded-circle text-success h1">
                                <i class="ri-collage-line fs-36"></i>
                            </div>
                        </div>
                        <h3 class="mb-3 fs-20">Office of the General Counsel</h3>
                        <p class="fst-italic">
                            The OGC serves as the company's in-house legal counsel, offering legal services and advice across all functional groups, departments, and levels of management. This includes legal counseling, regulatory and litigation work, contract drafting and review, case prosecution, and providing legal opinions on all legal matters.
                        </p>
                        <p>The Office of the General Counsel serves as the legal adviser to the Board of Directors, the Company’s Executives and the Department Heads. The Office also manages and provides support to the Deputy General Counsels and the Regional Assistant General Counsel in a variety of ways which may include but are not limited to the following:</p>
                        <ul>
                            <li><i class="bi bi-check2-circle"></i>Managing manpower resources of the Department;</li>
                            <li><i class="bi bi-check2-circle"></i>Supervising and monitoring the company’s external counsels;</li>
                            <li><i class="bi bi-check2-circle"></i>Identifying and developing best practices and standards;</li>
                            <li><i class="bi bi-check2-circle"></i>Coaching, mentoring, training and oversight;</li>
                            <li><i class="bi bi-check2-circle"></i>Monitoring compliance with company standards, policies, and procedures;</li>
                            <li><i class="bi bi-check2-circle"></i>Coordinating communications across the different departments.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-7 mx-auto">
                    <div>
                        <img src="~/images/about-img2.jpg" alt="" class="img-fluid mx-auto rounded">
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

    <section class="section" id="wallet">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 fw-semibold lh-base">Office of the General Counsel</h1>
                        <p class="text-muted">The Legal Information System is a comprehensive platform that provides a range of functionalities designed to help users access and manage legal documents, issuances, and cases. The following functionalities are available on the Legal Information System:a</p>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="card text-center border shadow-none material-shadow">
                        <div class="card-body py-5 px-4">
                            <div class="card-body p-4 text-center">
                                <img src="~/images/team/team-1.jpg" alt="Legal counseling" class="img-fluid rounded-circle avatar-xl">
                            </div>
                            <h3>Legal counseling Division</h3><br />
                            <p class="text-muted pb-1">
                                The Office of the General Counsel provides legal counselling services for tax-related concerns and ensures compliance with laws, rules and regulations for company contracts and policies.
                            </p>
                            <p class="text-muted pb-1">
                                They also provide legal opinions and advice to ensure compliance with the company's charter and applicable laws. Tasks include handling real property and business tax cases, coordinating with local government units, evaluating tax assessments, and preparing pleadings. The office also reviews contracts and agreements and provides legal opinions and advice on all legal and tax matters.
                            </p><br />
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-lg-6">
                    <div class="card text-center border shadow-none material-shadow">
                        <div class="card-body py-5 px-4">
                            <div class="card-body p-4 text-center">
                                <!-- Responsive Images -->
                                <img src="~/images/team/team-2.jpg" alt="Litigation and Regulatory" class="img-fluid rounded-circle avatar-xl">
                            </div>
                            <h3>Litigation and Regulatory Division</h3><br />
                            <p class="text-muted pb-1">
                                The Office of the General Counsel is responsible for handling litigation and regulatory matters, including court appearances, drafting legal opinions, and representing the company. Tasks include handling regulatory and litigation cases, preparing pleadings, appearing before the ERC and courts, providing legal opinions on regulatory matters, and reviewing contracts.
                            </p>
                            <p class="text-muted pb-1">
                                The office also represents the company in external meetings to ensure protection of NGCP's rights and interests.
                            </p><br /><br />
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end wallet -->

    <section class="section bg-light" id="categories">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-semibold text-capitalize lh-base"><span class="text-primary">Contact</span> Us</h1>
                        <p class="text-muted">The contact information page of the Legal Information System provides users with relevant contact details for inquiries, assistance and support regarding legal and regulatory matters.</p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row align-items-center gy-4">

                <div class="col-lg-5 col-sm-7 mx-auto">
                    <div class="text-muted">
                        <div class="avatar-sm icon-effect mb-4">
                            <div class="avatar-title bg-transparent rounded-circle text-success h1">
                                <i class="ri-collage-line fs-36"></i>
                            </div>
                        </div>
                        <h3 class="mb-3 fs-20">Project LIS</h3>
                        <p>The Legal Information System is a comprehensive platform that provides a range of functionalities designed to help users access and manage legal documents, issuances, and cases.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-7 mx-auto">
                    <form method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="name" class="form-label fs-13">Name</label>
                                    <input name="name" id="name" type="text" class="form-control border-dark" placeholder="Your name*">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="email" class="form-label fs-13">Email</label>
                                    <input name="email" id="email" type="email" class="form-control border-dark" placeholder="Your email*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="subject" class="form-label fs-13">Subject</label>
                                    <input type="text" class="form-control  border-dark" id="subject" name="subject" placeholder="Your Subject..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="comments" class="form-label fs-13">Message</label>
                                    <textarea name="comments" id="comments" rows="3" class="form-control border-dark" placeholder="Your message..."></textarea>
                                </div>
                            </div>
                        </div>
                        @* <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div> *@
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Send Message">
                            </div>
                        </div>

                    </form>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
        <!-- end container -->
    </section>

</main>

