@{
    Layout = "_DevExtremeLayout";
    ViewData["Title"] = "";
     string nonceValue = Context.Items["CspNonce"].ToString();
}

<div class="row pt-3">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="card-title mb-0">Procedure Manual</h3>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-1 flex-wrap">
                            @{
                                if (ViewData["sfInfo"].ToString().Substring(1, 1) != "0")
                                {
                                    <button type="button" class="btn btn-primary align-self-start align-items-center" id="btn-New">
                                        <i class="ri-upload-2-line me-2"></i> Upload File
                                    </button>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body border border-dashed border-end-0 border-start-0 mb-0 ">

                <div class="row g-3">

                    <div class="col-xxl-4">
                        <div class="search-box">
                            <input type="text" id="input_Search" class="form-control search" placeholder="Search something...">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>

                   @*  <div class="col-xxl-1 col-sm-4">
                        <div>
                            <button type="button" class="btn btn-info w-100 btn-filter">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                Filters
                            </button>
                        </div>
                    </div> *@

                </div>

            </div>

            <div class="card-body">
                <div class="mt-1 p-3">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="table-responsive table-card mb-1">
                                <table id="dtList" class="table align-middle table-nowrap mb-0">
                                    <thead>
                                        <tr class="bg-dark-subtle">
                                            <th class="text-left">Description</th>
                                            <th class="text-left">Filename</th>
                                            <th class="text-left">Revision</th>
                                            <th class="text-center" width="20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="maintenaceModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Procedural Manual Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="frmMaintenance" autocomplete="off">

                <div class="modal-body">

                    <div class="form-group mb-3">
                        <div class="col-3">
                            <label for="docDesc" class="form-label">Description</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="docDesc" id="docDesc" autocomplete="off" maxlength="255" required>
                        </div>
                    </div>

                    <div class="col-12 form-group mb-3">
                        <div>
                            <label for="formFile" class="form-label">Attachment</label>
                            <input class="form-control" type="file" id="formFile" accept="application/pdf" required>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-3">
                            <label for="docRev" class="form-label">Revision</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="docRev" id="docRev" autocomplete="off" maxlength="50" required>
                        </div>
                    </div>

                    @* <div class="form-group mb-3">
                        <div class="col">
                            <div class="form-check mb-2">
                                <label class="form-check-label" for="recordStatus">Record Status</label>
                                <input class="form-check-input" type="checkbox" name="recordStatus" id="recordStatus" value="1">
                            </div>
                        </div>
                    </div> *@

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"> <i class="ri-close-line me-1"></i> Close</button>
                    <button type="button" class="btn btn-success" id="btn-submits"> <i class="ri-save-line me-1"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="frmPreviewModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btn-closeFrame" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="frame-preview">
                        <iframe id="pdfFrame" src="" width="100%" style="min-height:100vh"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script nonce="@nonceValue">

    let sfInfo = '@ViewData["sfInfo"].ToString()';
    let dtTable;
    let frmMaintenance = $("#maintenaceModal");
    let frmPreview = $("#frmPreviewModal");
    let baseData = { action: '', id: '', docGuid:'' }

    $(() => {

        dtTable = $('#dtList').DataTable({
            columns: [
                { data: null },
                { data: 'fileName' },
                { data: 'docRev' },
                { data: null }
            ],
            paging: true,
            ordering: false,
            info: true,
            scrollX: false,
            scrollY: '50vh',
            dom: 'tip',
            language: tableOptions,
            columnDefs: [
                {
                    targets: [0],
                    className: '',
                    render: function (data, test, row, meta) {

                        let tags = `<div class="d-flex align-items-center">
                                        <div class=" flex-grow-1">
                                            <h5 class="fs-14 mb-0">
                                                <i class="ri-file-pdf-fill align-bottom text-danger me-2 fs-4"></i>
                                                ${data.docDesc}
                                            </h5>
                                        </div>
                                    </div>`;

                        return tags;
                    }
                },
                {
                    targets: [2],
                    className: 'text-start',
                    render: function (data, test, row, meta) {

                        let ddd = `<div class="d-flex align-items-start">
                                        <div class=" flex-grow-1">
                                                <h6 class="fs-14 mb-0">${data}</h6>
                                        </div>
                                    </div>`;

                        return ddd;
                    }
                },
                {
                    targets: [3],
                    className: 'text-center',
                    render: function (data, test, row, meta) {

                        let html = `<div class="d-flex gap-3 justify-content-center">
                                            <div class="dropdown">
                                                <button class="btn btn-light btn-icon btn-sm dropdown material-shadow-none " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-fill align-bottom"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" style="">
                                                    <li>
                                                        <a class="dropdown-item viewfile-list btn-preview" href="javascript:void(0)">View</a>
                                                    </li>

                                                    ${sfInfo.substring(2,3) == 'x' ? `<li><a class="dropdown-item edit-list btn-update" href="javascript:void(0)" role="button">Edit</a></li>` : ``}
                                                    
                                                    ${sfInfo.substring(3,4) == '1' ? `
                                                    <li class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item remove-list btn-delete" href="javascript:void(0)" role="button">Delete</a></li>` : ``}
                                                    
                                                    ${sfInfo.substring(4,5) == '1' ? `
                                                    <li class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item remove-list" href="@Url.Action("Preview", "Document")?strParam=${data.docGuid}" download=${data.fileName}>Download</a></li>` : ``}

                                                </ul>
                                            </div>
                                        </div>`

                        return html;

                    }
                }
            ]
        });

        $('#btn-New').on('click', function () {
            baseData.action = 'C';
            baseData.id = '0';
            // frmMaintenance.find('#docDesc').val('');
            // frmMaintenance.find('#docRev').val('0');
            // frmMaintenance.find('#recordStatus').prop('checked', true);
            $('#frmMaintenance')[0].reset();
            frmMaintenance.find("#btn-submits").html('<i class="ri-save-line me-1"></i>Save');
            frmMaintenance.modal('show');
        })


        $('#dtList tbody').on('click', '.btn-preview', function () {

            $('#frame-preview').html('');
            $('#frame-preview').html('<iframe id="pdfFrame" src="" width="100%" style="min-height:100vh"></iframe>');

            let data = dtTable.row($(this).closest('tr')).data()

            frmPreview.find("#pdfFrame").attr(`src`, `@Url.Action("Preview", "Document")?strParam=${data.docGuid}#toolbar=0&navpanes=0&scrollbar=0`);
            frmPreview.modal('show');
        });


        $('#dtList tbody').on('click', '.btn-update', function () {

            let data = dtTable.row($(this).closest('tr')).data()

            baseData.action = 'U';
            baseData.id = data.id;
            baseData.docGuid = data.docGuid;
            frmMaintenance.find('#docDesc').val(data.docDesc);
            frmMaintenance.find('#docRev').val(data.docRev)
            frmMaintenance.find('#remarks').val(data.remarks);
            frmMaintenance.find('#recordStatus').prop('checked', data.recordStatus);
            frmMaintenance.find("#btn-submits").html(' <i class="ri-save-line me-1"></i>Update');

            frmMaintenance.modal('show');
        })

        $('#dtList tbody').on('click', '.btn-delete', function () {

            let dr = dtTable.row($(this).closest('tr')).data()
            baseData.action = 'D';
            baseData.id = dr.id;

            let formdata = new FormData();
            formdata.append("_action", baseData.action);
            formdata.append("id", baseData.id);
            formdata.append("docGuid", baseData.docGuid);
            formdata.append("docDesc", dr.docDesc);
            formdata.append("docRev", docRev);
            formdata.append("recordStatus", $('#recordStatus').is(':checked'));
            formdata.append("file", $("#formFile").prop('files')[0]);
 
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    post_data(formdata);
                }
            });

        })

        $('#btn-submits').on('click', function () {
            let text = (baseData.action == 'C' ? 'Do you want to save new entry.' : 'Do you want to save changes.');
            let label = (baseData.action == 'C' ? 'Yes, save new entry.' : 'Yes, save changes.');

            if ($('#frmMaintenance')[0].reportValidity()) {

                Swal.fire({
                    title: "Are you sure?",
                    text: text,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: label,
                }).then(function (result) {
                    if (result.isConfirmed) {

                        let formdata = new FormData();
                        formdata.append("_action", baseData.action);
                        formdata.append("id", baseData.id);
                        formdata.append("docDesc", $('#docDesc').val());
                        formdata.append("docRev", $('#docRev').val());
                        formdata.append("recordStatus", $('#recordStatus').is(':checked'));
                        formdata.append("file", $("#formFile").prop('files')[0]);

                       
                        post_data(formdata);

                    }
                });
            }
        });

        $('#input_Search').keyup(function () {

            dtTable.search($(this).val()).draw();
        })

        load_data();

    });




    function load_data() {


        getData("Document", "GET_ProcedureManual", { _action: 'A' }).done(function (data) {

            dtTable.rows().clear();
            dtTable.rows.add(data).draw();

        })

    }

    function post_data(data) {
        postFileData("Document", "POST_ProcedureManual", data).done(function (returnData) {

            let msg = returnData[0];

            if (!msg.includes("Success")) {

                Swal.fire({
                    icon: "error",
                    title: "ERROR!",
                    text: msg.replace("Msg: ", "")
                });
            }
            else {

                let componet = 'Manual';
                let text;

                if (baseData.action == 'C') {
                    text = `New ${componet} has been added`;
                }
                if (baseData.action == 'U') {
                    text = `Selected ${componet} has been updated`;
                }
                if (baseData.action == 'D') {
                    text = `Selected ${componet} has been deleted`;
                }

                frmMaintenance.modal('hide');

                Swal.fire({
                    title: "Success!",
                    text: text,
                    icon: "success",
                    // confirmButtonClass: "btn btn-primary w-xs mt-2",
                }).then(function (result) {
                    if (result.isConfirmed) {

                        load_data();
                    }
                });



            }



        })
    }


</script>